@use '../../variables/variables' as *;

/*
Classnames
*/

$body-4: body--4;
$body-3: body--3;
$body-2: body--2;
$body-1: body--1;

/*
Config
*/

@mixin font-body($selector, $font-size, $line-height) {
  .#{$selector} {
    @include font-regular;

    font-size: $font-size;
    line-height: $line-height;
  }
}

.#{$pds-wrapper} {
  @include font-body($body-4, $b4-font-size, $b4-line-height);
  @include font-body($body-3, $b3-font-size, $b3-line-height);
  @include font-body($body-2, $b2-font-size, $b2-line-height);
  @include font-body($body-1, $b1-font-size, $b1-line-height);
}
