@use '../../variables/variables' as *;

/*
Classnames
*/

$display-8: display--8;
$display-7: display--7;
$display-6: display--6;
$display-5: display--5;
$display-4: display--4;
$display-3: display--3;
$display-2: display--2;
$display-1: display--1;

/*
Config
*/

@mixin font-display($selector, $font-size, $line-height) {
  .#{$selector} {
    @include font-extrabold;

    font-size: $font-size;
    line-height: $line-height;
  }
}

.#{$pds-wrapper} {
  @include font-display($display-8, $d8-font-size, $d8-line-height);
  @include font-display($display-7, $d7-font-size, $d7-line-height);
  @include font-display($display-6, $d6-font-size, $d6-line-height);
  @include font-display($display-5, $d5-font-size, $d5-line-height);
  @include font-display($display-4, $d4-font-size, $d4-line-height);
  @include font-display($display-3, $d3-font-size, $d3-line-height);
  @include font-display($display-2, $d2-font-size, $d2-line-height);
  @include font-display($display-1, $d1-font-size, $d1-line-height);
}
