@use '../../variables/variables' as *;

/*
Classnames
*/

$display-104: display--104;
$display-103: display--103;
$display-102: display--102;
$display-101: display--101;

/*
Config
*/

@mixin font-display($selector, $font-size, $line-height) {
  .#{$selector} {
    @include font-narrow-extrabold;

    font-size: $font-size;
    line-height: $line-height;
  }
}

.#{$pds-wrapper} {
  @include font-display($display-104, $pri-d4-line-height, $pri-d4-line-height);
  @include font-display($display-103, $d7-line-height, $d7-line-height);
  @include font-display($display-102, $d5-line-height, $d5-line-height);
  @include font-display($display-101, $d3-line-height, $d3-line-height);
}
