/*
 * Base Colors (Project Reimagine)
 */

$color-white-101: #fff;
$color-black-101: #000;
$color-coreneutral-101: #fbfbfc;
$color-coreneutral-102: #f7f8f8;
$color-coreneutral-103: #eff0f1;
$color-coreneutral-104: #e0e2e4;
$color-coreneutral-105: #cdd1d4;
$color-coreneutral-106: #c0c5c9;
$color-coreneutral-107: #a8aeb3;
$color-coreneutral-108: #828b93;
$color-coreneutral-109: #69747d;
$color-coreneutral-110: #505d68;
$color-coredark-101: #051727;
$color-coredark-101-hover: #082640;
$color-coredark-101-active: #0b3559;
$color-corered-101: #b3282d;
$color-corered-101-hover: #992226;
$color-corered-101-active: #801c20;
$color-corered-102: #d6311b;
$color-corebrightred-101: #d84332;
$color-grey: #666;
$color-1: #263746 !default;
$color-2: #dfe3eb;
$color-3: #a5bbc3;
$color-4: #b3282d !default;
$color-5: #40474b;
$color-6: #909ea4;
$color-7: #b6d1c8;
$color-8: #fafafd;
$color-9: #ecf2f4 !default;
$color-10: #535b5e !default;
$color-11: #0c5c95;
$color-12: #bdd431;
$color-13: #e3e76f;
$color-14: #ededed;
$color-15: #999;
$color-16: #0f1b26;
$color-17: #d8d8d8;
$primary: $color-corered-101;
$color-white: $color-white-101;
$color-black: $color-black-101;
