// Variables
//
// This file is meant to be @use/@forward imported in various other SCSS files to provide its variables for use.
// Avoid putting in any actual CSS definitiions in here or any files imported into here as those would be
// included in any @use imporrts as well and we run the risk of duplicates when those files aren't meant for include
// into the main.scss global styles file (e.g. are standalone component clientlib only files).
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
// PDS Global Wrapper Classname
$pds-wrapper: pds-wrapper;
// Nav Header - TODO: move this into a header.scss file when we redo header styles for PDS
$nav-header-height: 88px;
$nav-header-height-mobile: 60px;
// Layout
@forward './layout/grid';
// Spacing
@forward './spacing/spacing';
// Typography
@forward './typography/fonts';
// Colors
@forward './colors/colors';
